<script lang="ts">
import Vue from 'vue';
import { SlpContainer } from '../../common/index.vue';

export default Vue.extend({
  name: 'ByIndustryIntro',
  components: { SlpContainer },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section class="solutions-intro">
    <SlpContainer>
      <SlpRow class="solutions-intro__container">
        <a
          v-for="(logo, index) in data.logos"
          :key="`${logo.name}-${index}`"
          class="solutions-intro__link"
          :href="logo.url"
          :data-aos="logo.aos_animation"
          :data-aos-duration="logo.aos_duration"
          :aria-label="logo.aria_label ? logo.aria_label : ''"
        >
          <img :src="logo.image" :alt="logo.name" />
        </a>
      </SlpRow>
      <SlpColumn />
    </SlpContainer>
  </section>
</template>

<style scoped lang="scss">
.solutions-intro {
  padding-bottom: $spacing-48;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // These breakpoints are set assuming we will keep six images at a width of 100-130px
    @media (min-width: 498px) and (max-width: 768px) {
      &:after {
        content: '';
        flex: auto;
      }
    }
  }

  &__link {
    transition: all 0.3s ease-in-out;
    max-width: 130px;

    &:hover {
      transform: scale(1.05);
    }

    img {
      height: 45px;
      width: 100%;

      @media (max-width: $breakpoint-md) {
        width: 100px;
        margin: $spacing-24 $spacing-8;
      }
    }
  }
}
</style>
